<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<address>One Microsoft Way 
<br />Redmond, WA 98052-6399 
<br />
<abbr title="Phone">P:</abbr>425.555.0100</address>
<style type="text/css">.panel{ border: solid 1px #D4D4D4 !important;}</style>
<div>
  <div class="easyuiCon easyui-panel"
       id="p"
       style="width:600px;height:200px;padding:10px;"
       title="Basic Panel">
    <p style="font-size:14px">jQuery EasyUI framework help you build your web page easily.</p>
    <ul>
      <li>easyui is a collection of user-interface plugin based on jQuery.</li>
      <li>easyui provides essential functionality for building modem, interactive, javascript applications.</li>
      <li style="padding-right:10px">using easyui you don't need to write many javascript code, you usually defines user-interface by writing some HTML markup.</li>
      <li>complete framework for HTML5 web page.</li>
      <li>easyui save your time and scales while developing your products.</li>
      <li>easyui is very easy but powerful.</li>
    </ul>
  </div>
</div>
<!-- <div class="easyuiCon easyui-panel"
     style="width:400px"
     title="New Topic">
  <div style="padding:10px 0 10px 60px">
    <form id="ff"
          method="post">
      <table>
        <tr>
          <td>Name:</td>
          <td>
            <input class="easyui-validatebox"
                   data-options="required:true"
                   name="name"
                   type="text"></input>
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input class="easyui-validatebox"
                   data-options="required:true,validType:'email'"
                   name="email"
                   type="text"></input>
          </td>
        </tr>
        <tr>
          <td>Subject:</td>
          <td>
            <input class="easyui-validatebox"
                   data-options="required:true"
                   name="subject"
                   type="text"></input>
          </td>
        </tr>
        <tr>
          <td>Message:</td>
          <td>
            <textarea name="message"
                      style="height:60px;"></textarea>
          </td>
        </tr>
        <tr>
          <td>Language:</td>
          <td>
            <select class="easyui-combobox"
                    name="language">
              <option value="ar">Arabic</option>
              <option value="bg">Bulgarian</option>
              <option value="ca">Catalan</option>
              <option value="zh-cht">Chinese Traditional</option>
              <option value="cs">Czech</option>
              <option value="da">Danish</option>
              <option value="nl">Dutch</option>
              <option selected="selected"
                      value="en">English</option>
              <option value="et">Estonian</option>
              <option value="fi">Finnish</option>
              <option value="fr">French</option>
              <option value="de">German</option>
              <option value="el">Greek</option>
              <option value="ht">Haitian Creole</option>
              <option value="he">Hebrew</option>
              <option value="hi">Hindi</option>
              <option value="mww">Hmong Daw</option>
              <option value="hu">Hungarian</option>
              <option value="id">Indonesian</option>
              <option value="it">Italian</option>
              <option value="ja">Japanese</option>
              <option value="ko">Korean</option>
              <option value="lv">Latvian</option>
              <option value="lt">Lithuanian</option>
              <option value="no">Norwegian</option>
              <option value="fa">Persian</option>
              <option value="pl">Polish</option>
              <option value="pt">Portuguese</option>
              <option value="ro">Romanian</option>
              <option value="ru">Russian</option>
              <option value="sk">Slovak</option>
              <option value="sl">Slovenian</option>
              <option value="es">Spanish</option>
              <option value="sv">Swedish</option>
              <option value="th">Thai</option>
              <option value="tr">Turkish</option>
              <option value="uk">Ukrainian</option>
              <option value="vi">Vietnamese</option>
            </select>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div> -->
